# Project
**/node_modules/*
**/Intermediate/*
**/Binaries/*
!/Binaries/Win64
/Binaries/Win64/*
!/Binaries/Win32/TsuParser.exe
!/Binaries/Win64/TsuParser.exe
!/Binaries/Mac/TsuParser
!/Binaries/Linux/TsuParser
!/Binaries/ThirdParty
/Binaries/ThirdParty/**/*.pdb
/Source/TsuBootstrap/output
/Source/TsuParser/output

# Windows
Thumbs.db
*.lnk

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Linux
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

# Misc
*.bak
*.gho
*.ori
*.orig
*.tmp

# V8
/Source/ThirdParty/V8/Include
/Source/ThirdParty/V8/Lib
/Source/ThirdParty/V8/scripts/*/v8/
/Source/ThirdParty/V8/scripts/*/.cipd/
/Source/ThirdParty/V8/scripts/*/.gclient
/Source/ThirdParty/V8/scripts/*/.gclient_entries
